@using System.Text.Json
@{
  ViewData["Title"] = "Budget-list";
  List<Dictionary<string, object>> tickets = ViewData["tickets"] as List<Dictionary<string, object>> ?? new List<Dictionary<string, object>>();
}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tickets</h4>
        <div class="table-responsive m-t-40">
          <table id="config-table" class="table display table-bordered table-striped no-wrap">
            <thead>
                  <tr>
                    <th>#</th>
                    <th>Ticket/Lead</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Budget</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
            </thead>
            <tbody>
              @foreach(var t in tickets){
                <tr>
                  <td>@t["ticketId"]</td>
                  <td>@t["subject"]</td>
                  <td>@t["priority"]</td>
                  <td>@t["status"]</td>
                  <td>@(((Customer)t["customer"]).Name)</td>
                  <td>@(t["employee"])</td>
                  <td>
                    <form action="@($"/manager/customers/tickets/{t["ticketId"]}/delete")" method="post">
                        <button type="submit" class="btn btn-primary">
                            <i class="mdi mdi-delete"></i>
                        </button>
                    </form>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/library/custom.min.js" type="text/javascript"></script>
  <script src="~/js/library/jquery.toast.js"></script>
  <script src="~/js/library/toastr.js"></script>
  <!-- Editable -->
  <script src="~/js/library/jquery.dataTables.min.js"></script>
  <script src="~/js/library/dataTables.responsive.min.js"></script>
  <script>
    $('#config-table').DataTable({
      responsive: true
    });
  </script>
}